body {
    background-color: black;
    color: white;

}
a {
    text-decoration: none;
    color: white;
    font-size: 30px;

}
.links {

    text-align: center;
    padding: 90px;
}
h1 {
    text-align: center;
    font-size: 60px;
}